* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    animation: backgroundMove 10s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado a flex-start para alinear desde arriba */
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
}

@keyframes backgroundMove {
    0% { background-position: left; }
    100% { background-position: right; }
}
